p{font-family: serif;
    font-size: 22px;
   font-weight: 70;
}

h2{color: #895030;
}

body{
    background-color:  #DEB887;
}

#jedan{color: #675840; 
}
#dva{color: #675833;
}

span:hover{color: red;
}

