body {
	background-color: #DEB887;
}
nav {
	font-family: arial, tahoma, "sans serif";
}
#nav-bar {
	position: fixed;
	list-style: none;
	float: left;
	margin-top: 50px;
	margin-left: 300px;
}
#nav-bar li {
	display: inline-block;
	margin: 30px;
}
li {
	background-color: lightblue;
	width:80px;
	border: 5px solid green;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
	text-align: center;
}
a:hover {
	color:red;
}

	


